.form-group{
    background-color:aquamarine;
    width: 400px;
    font-size: 17px;
    border:crimson;
    border-width:2px;
    border-style:dotted;
    border-radius:10px;
}

body{
    background-color:cornflowerblue;
}

.btn{
    font-size:30px;


}

h1{
    color:crimson;
    font-size:60px;
}